<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DevOps Alexandre Monteiro</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Seja bem vindo ao meu portifolio DevOps :D</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/foto-alexandre.jpg" alt="4Linux">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Não existe derrota para quem estuda! Ou vence, ou aprende, compartilhe conhecimento!</p>
			
			<div class="devops-path path">
				<h1>Mídias Sociais</h1>
				<a href="https://www.linkedin.com/in/alexandremsg/" class="devops-course course">
					<h2>CONHEÇA MINHA TRAGETORIA PROFISSIONAL PELO LINKEDIN</h2>
				</a><!--
				--><a href="#" class="devops-course course">
					<h2>BLOG PROFISSIONAL, DICAS, CURSOS, COMPARTILHAMENTOS</h2>
				</a><!--
				--><a href="https://www.vivaolinux.com.br/~alexandrevl" class="ops-course course">
					<h2>CONTRIBUIÇÕES PARA COMUNIDADE LINUX DEVOPS</h2>
				</a><!--
				--><a href="https://github.com/alexandremsg" class="ops-course course">
					<h2>GITHUB, AQUI QUE A MÁGICA ACONTECE :)</h2>
				</a>
			</div>
			
			<p class="keep-studying">Temos a tecnologia, recursos e capacidade para resolver todos os problemas do planeta. A única coisa que falta é a consciência inclusiva!</p>
        
		</div>
	</div>

</body>

</html>
